# Variáveis neceessárias para criação do banco de dados inicial
POSTGRES_DB=cpf-hub-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sua_senha_aqui

# Se não usar Docker, use 'localhost'. Se usar Docker, use 'cpf-hub-postgresql'
DB_HOST=cpf-hub-postgresql
DB_PORT=5432
DB_NAME=cpf-hub-db
DB_USER=cpf-hub
DB_PASSWORD=cpf-hub