<!DOCTYPE html>

<html lang="pt-BR">

	<head>
		<meta charset="UTF-8" />
		<title>
			PyCPF
		</title>
		<link rel="stylesheet" type="text/css" href="./static/css/style.css" />
	</head>

	<body>
		<header>
		    <h1>
		        PyCPF
		    </h1>
		    <h2>
		    	<i>
		    		Gerador e Validador de CPF
		    	</i>
		    </h2>
		</header>

	    <div class=geral>
		    <form method="POST" action="/gerar">
		        <button type=submit>
		            Gerar
		        </button>
		    </form>
		    <form class=form-validar method="POST" action="/validar">
			    <button type=submit>
			        Validar
			    </button>
			    <fieldset>
			        <input type="text" id="cpf" name="cpf" placeholder="Insira o CPF (apenas números)" maxlength="11" />
			    </fieldset>

		    </form>
		</div> 
		
		<footer>
    		<a href="https://github.com/omarciodanilo" target="_blank">criado por omarciodanilo</a>
  		</footer>
	</body>

</html>
